In [1]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

myset = set1.union(set2)
print("myset:",myset)

ss=set1|set2
print("ss:",ss)

myset: {'b', 1, 2, 3, 'a', 'c'}
ss: {'b', 1, 2, 3, 'a', 'c'}

In [2]:
set1 = {"apple", "banana", "cherry",2,3,44,55}
set2 = {2,3,44,55,678,234,908,"apple","orange","apple"}

set3=set1.intersection(set2)
print("set3",set3)

sa=set1&set2
print("sa",sa)

set1.intersection_update(set2)
print("set1",set1)

set3 {2, 3, 'apple', 44, 55}
sa {2, 3, 'apple', 44, 55}
set1 {2, 3, 'apple', 44, 55}

In [3]:
set1 = {"apple", "banana", "cherry",33,44,26,"2ef"}
set2 = {"google", "microsoft", "apple","2ef",44}

set3 = set1.difference(set2)
se=set1-set2
print("se",se)
print("set3",set3)

set1.difference_update(set2)
print("set1",set1)

se {33, 26, 'banana', 'cherry'}
set3 {33, 26, 'banana', 'cherry'}
set1 {33, 'cherry', 'banana', 26}

In [4]:
set1 = {"apple", "banana", "cherry","ford","hummer"}
set2 = {"google", "pandi", "apple","chevy","ford"}

set3 = set1.symmetric_difference(set2)

sd=set1^set2
print("sd",sd)
print("set3",set3)

set1.symmetric_difference_update(set2)
print("set1",set1)

sd {'google', 'chevy', 'cherry', 'banana', 'hummer', 'pandi'}
set3 {'google', 'chevy', 'cherry', 'banana', 'hummer', 'pandi'}
set1 {'google', 'chevy', 'cherry', 'banana', 'hummer', 'pandi'}

In [5]:
mydict = {"brand": "Ford","model": "Mustang","year": 1964}
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [6]:
mydict = {"brand": "Ford","model": "Mustang","year": 1964}
mydict["version"]="v 2.0"
print(mydict)
mydict["brand"]="cheverlotte"

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'version': 'v 2.0'}

In [7]:
mydict["brand"]

'cheverlotte'

In [8]:
print(len(mydict))

4

In [9]:
myfamily = {"child1" : {"name" : "Emil","year" : 2004 },"child2" : {"name" : "Tobias","year" : 2007},"child3" : {"name" : "Linus","year" : 2011}}

myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [10]:
myfamily["child1"]

{'name': 'Emil', 'year': 2004}

In [11]:
myfamily["child1"]["name"]

'Emil'

In [12]:
student1 = {
  "name" : "kuttralees",
  "year" : 2003
}



student2 = {
  "name" : "pandi",
  "year" : 2003
}


student3 = {
  "name" : "annie",
  "year" : 2004
}

frnds = {
  "student1" : student1,
  "student2" : student2,
  "student3" : student3
}

In [13]:
frnds.values()

dict_values([{'name': 'kuttralees', 'year': 2003}, {'name': 'pandi', 'year': 2003}, {'name': 'annie', 'year': 2004}])

In [14]:
frnds.keys()

dict_keys(['student1', 'student2', 'student3'])

In [15]:
student1 = {
  "name" : "kuttralees",
  "year" : 2003
}
for i in student1:
    print(i)

name
year

In [16]:
student1 = {"name" : "kuttralees","year" : 2003}
for i in student1.items():
    print(i)

('name', 'kuttralees')
('year', 2003)

In [17]:
student1 = {"name" : "kuttralees","year" : 2003}
for i in student1.keys():
    print(i)

name
year

In [18]:
student1 = {"name" : "kuttralees","year" : 2003}
for i in student1.values():
    print(i)

kuttralees
2003

In [21]:
n=int(input("Enter a number:"))
for i in range(1, n + 1):
        for j in range(n - i):
            print(" ", end="")
        for k in range(1, 2*i):
            print("*", end="")
        print()

Enter a number: 5

    *
   ***
  *****
 *******
*********

In [22]:
n=int(input("Enter a number:"))
for i in range(1, n + 1):
        for j in range(n - i):
            print(" ", end="")
        for k in range(1,i):
            print("*", end="")
        print()

Enter a number: 6

    *
   **
  ***
 ****
*****

In [27]:
n=int(input("Enter a number:"))
for i in range(1, n + 1):
    for k in range(1,i):
        print("*",end="")
    for j in range(n - i):
        print(" ",end="")
    print()

Enter a number: 4

*
**
***