In [1]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana"]
for i in range(len(mylist)):
    print(mylist[i])

orange
mango
kiwi
pineapple
banana

In [2]:
myset = {"apple", "banana", "cherry"}

for x in myset:
  print(x)

banana
apple
cherry

In [3]:
l=[789000,9,0,0,89,9]
for i in l:
    print(i)

789000
9
0
0
89
9

In [4]:

child1 = {"name" : "Emil","year" : 2004}
for i in child1.values():
    print(i)

Emil
2004

In [5]:
child1 = {"name" : "Emil","year" : 2004}
for i in child1.items():
    print(i)

('name', 'Emil')
('year', 2004)

In [6]:
child1 = {"name" : "Emil","year" : 2004}
for i in child1.keys():
    print(i)

name
year

In [7]:
child1 = {"name" : "Emil","year" : 2004}
for i in child1.values():
    print(i)

Emil
2004

In [8]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

[1, 3, 5, 7, 9]

In [17]:
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
def fun(m):
    v = m[0][0]

    for row in m:
        for element in row:
            if v < element:
                v = element

    return v
print(fun(data[0]))

4

In [20]:
arr = [[1, 2, 3, 4],
       [4, 5, 6, 7],
       [8, 9, 10, 11],
       [12, 13, 14, 15]]
for i in range(0, 4):
    print(arr[i].pop())
print(arr)

4
7
11
15
[[1, 2, 3], [4, 5, 6], [8, 9, 10], [12, 13, 14]]

In [28]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

print(arr)

2 3 4 5 6 6 [2, 3, 4, 5, 6, 6]

In [4]:
k = [1, 2, 3, 4, 5]

for i in range(1, 6):
    for j in range(i, 6):
        print(j,end=' ')
    print("")

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [50]:
rows = 6
for i in range(1, rows):
    for j in range(i, rows):
        print(j, end=' ')
    print("")

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [2]:
k = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

index = 0
row = 1  # Start with one element in the first row

while index < len(k):
    print(*k[index:index + row])  # Print elements in the current row
    index += row  # Move index forward
    row += 1  # Increase row size

1
2 3
4 5 6
7 8 9 0